body {
    font-family: 'Quicksand', sans-serif;
}
img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.link {
    margin-left: 10px;
    text-decoration: none;
    color : rgb(64,64,64);
}
    .link :hover {
        color: #028f76;
    }


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(64,64,64);
    border-radius: 2rem;
}

tr:hover {
    background-color: #028f76;
}