<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Servicio_WCF.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Servicio_WCF.App>
            <setting name="DataSource" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>DBDigitalBankst</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="AuthWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </Servicio_WCF.App>
    </applicationSettings>
</configuration>